@using RoutingDemo.Models.ViewModel
@model List<AllOrdersVM>

<div class="container mt-4">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <table class="table table-light table-striped">
        <tr>
            <th style="display:none;"></th>
            <th>Product Name</th>
            <th>Order Number</th>
            <th>Order Date</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Actions</th>
        </tr>
       
            @{
                foreach (AllOrdersVM p in Model)
                {
                    <tr>
                        <td style="display:none;">@p.ODId</td>
                        <td>@p.Name</td>
                        <td>@p.OID</td>
                        <td>@p.OrderDate</td>
                        <td>@p.Quantity</td>
                        <td>@p.Rate</td>
                        <td>
                            <a asp-action="OrderDetailsFor" asp-controller="Orders" asp-route-oid="@p.OID" class="ms-3">
                                <i class="fa-solid fa-pen-to-square text-primary"></i>
                            </a>
                            <a asp-action="DeleteOrder" asp-controller="Orders" asp-route-oid="@p.OID" class="ms-3">
                                <i class="fa-solid fa-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
     
    </table>
</div>
