@model List<RoutingDemo.Models.Product>
<div class="container mt-4">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <table class="table table-light table-striped">
        <tr>
            <th style="display:none;"></th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Expiry Date</th>
            <th>Actions</th>
        </tr>
        <tr>
            @{
                foreach(Product p in Model)
                {
                    <td style="display:none;">@p.Id</td>
                    <td>@p.Name</td>
                    <td>@p.Price</td>
                    <td>@p.EDate.ToShortDateString()</td>
                    <td>
                        <a asp-action="EditProduct" asp-controller="NewProducts" asp-route-id="@p.Id" class="ms-3">
                            <i class="fa-solid fa-pen-to-square text-primary"></i>
                        </a>
                        <a asp-action="DeleteProduct" asp-controller="NewProducts" asp-route-id="@p.Id" class="ms-3">
                            <i class="fa-solid fa-trash text-danger"></i>
                        </a>
                    </td>
                }
            }
        </tr>
    </table>
</div>
@*  Restore-Project RoutingDemo *@
<partial name="_FooterPartial" />
